[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
drf_yasg = "*"
required = "*"
google-auth = "*"
pyjwt = "*"
base = "*"
private = "*"
self = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"
wemake-python-styleguide = "*"
isort = "*"
black = "==21.8b0"
django-extensions = "*"

[requires]
python_version = "3.9"
